@tailwind base;
@tailwind components;
@tailwind utilities;

nav li {
    opacity: .5;
}

nav li:hover {
    opacity: 1;
}

nav .active {
    opacity: 1;
}

.painting:hover {
    filter: brightness(50%);
    transition: filter 0.3s
}
